
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

body {
    background-color: #b91450;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* _______ COMMON _______ */
h1, 
h2 {
    color: white;
    margin: 1rem 0;
}

.container {
    max-width: 1000px;
    width: 60%;
    margin: 1rem auto;
}
button {
    background-color: lightgray;
    color: #b91450;
    padding: .5rem .75rem;
    border-radius: .5rem;
    border: transparent;
    cursor: pointer;
    font-weight: 600;
}
label {
    margin-bottom: .5rem;
    color: #b91450;
    font-weight: 600;
}
input,
select {
    padding: .35rem .5rem;
    border-radius: .25rem;
    border: 1px #b91450 solid;
    text-align: center;

    font-size: 1rem;
}
/* _______ END COMMON _______ */



/* _______ FORM WRAPPER _______ */
.formWrapper {
    background-color: white;
    padding: 2rem;
    border-radius: .5rem;
}
.dataInputsWrapper {
    display: flex;
    justify-content: center;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    margin-bottom: 2rem;
}
/* _______ END FORM WRAPPER _______ */



/* _______ BIGLIETTO  _______ */
.elencoBigliettiWrapper {
    display: none;
    background-color: white;
    text-align: left;
    padding: 2% 5%;
}
.elencoBigliettiWrapper.active {
    display: block;
}
.biglietto {
    display: flex;
    background-color: white;
    margin: auto;
}
.nomePasseggieroWrapper {
    background-color: grey;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.25rem;
}
table {
    text-align: left;
    flex-grow: 1;
    padding: .75rem 2rem;
}
td,
th {
    padding: .5rem;
}
/* _______ END BIGLIETTO  _______ */
